html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #0c195a;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

fieldset {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px 20px;
  margin: 3rem 0;
}

legend {
  position: relative;
  grid-column: span 2;
  width: fit-content;
}

fieldset > label {
  display: contents;
}
fieldset > button {
  grid-column: span 2;
  width: fit-content;
  margin: 0 auto;
}
fieldset input {
  border: 1px inset #0c195a;
  height: 2rem;
  padding: 0 10px;
  grid-column: 2;
  font-size: 1rem;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.175em;
  background-color: #64d7be;
  color: #0c195a;
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

button:disabled {
  color: #333;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
